.main-wrapper {
    .main-content {
        padding-left: 240px;
        width: 100%;
        transition: all 0.2s ease-in-out;

        @media (max-width: 1024px) and (min-width: 767px) {
            padding-left: 70px;
            transition: all 0.2s ease-in-out;
        }

        @media (max-width: 767px) {
            padding-left: 0 !important;
            transition: all 0.2s ease-in-out;
        }
    }

    &.to-toggle {
        .main-content {
            padding-left: 70px;
            transition: all 0.2s ease-in-out;
        }
    }
}